<div *ngFor = "let course of courses">
    <!-- <b ngNonBindable>{{course}}</b> -->
     <b>{{course}}</b>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td [style.color] = "color" [style.font-size.px] = 'fontSize'>{{ movie.title }}</td>  <!-- dynamic styling from typeScript-->
      <td [ngStyle] = "{color: 'green', 'background-color':'yellow'}">{{ movie.director }}</td>
      <td>{{ movie.year }}</td>
    </tr>
  </tbody>
</table>
